:host {
    .main-div {
        background: url('../../../assets/images/ultimatum-bg.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        mat-card {
            padding: 0px;
        }
    }
    
    .login-form {
        padding: 20px;        
        input {
            height: 30px;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 5px;
        }
    }
}
